// Typography
$bold-font: 'ComicNeueBold';
$bold-italic-font: 'ComicNeueBoldItalic';
$italic-font: 'ComicNeueItalic';
$light-font: 'ComicNeueLight';
$light-italic: 'ComicNeueLightItalic';
$regular-font: 'ComicNeueRegular';

// Colors
$primary-color: #5B9CD5;
$primary-hover-color: #3E6C94;
$success-color: #70AB47;
$success-hover-color: #4E9C16;
$danger-color: #E60843;
$danger-hover-color: #C51D4A;
$warning-color: #ED7C32;
$warning-hover-color: #DA6315;
$disable-color: #E6E6E6;

$black-color: #1E181A;
$black-color-70: rgba($black-color, 0.7);
$black-color-50: rgba($black-color, 0.5);
$black-color-20: rgba($black-color, 0.2);
$black-color-10: rgba($black-color, 0.1);
$white-color: #FFFFFF;

// Breackpoint
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;





